@import "tailwindcss";
@plugin "daisyui";


.swiper-button-prev {
    color: #fff !important;
}

.swiper-button-next {
    color: white !important;
}

/* a.active{
    @apply text-[#7b3aec] 
} */
/* a.active{
    @apply font-bold
} */